

  <%= form_with model: [ @post, @post.comments.build ], class: "form-group" do |form| %> 
   
    <%= form.text_area :body, class: "form-control" %>
    
    <%= form.label :user_id, class: "sr-only" %>
    <%= form.text_field :user_id, type: "hidden", value: current_user.id %>
  
    <div class="mt-3">
      <%= form.submit "Submit", class: "btn btn-info" %>
    </div>
  <% end %>
  